{# templates/profile/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="flex justify-center items-center  ">
        <div class="max-w-4xl mx-auto px-24 p-6 bg-white rounded-lg shadow-md ">
            <div class="flex flex-col items-center mb-8 ">
                {% if user.photo %}
                    <img src="{{ asset('uploads/photos/' ~ user.photo) }}" alt="Photo de profil" class="w-32 h-32 rounded-full border-4 border-blue-500 object-cover mb-4">
                {% else %}
                    <div class="w-32 h-32 rounded-full bg-gray-300 flex items-center justify-center mb-4">
                        <img src="{{ asset('image/default_avatar.png') }}" alt="Default Avatar"
                             class="h-32 w-32 rounded-full border-2 border-white hover:border-orange-400 transition duration-200"> <!-- Augmentation de la taille de l'avatar par défaut -->

                    </div>
                {% endif %}
                <h1 class="text-4xl font-semibold text-gray-800">{{ user.pseudo }}</h1>
            </div>


            <div class="mb-6">
                <ul class="space-y-4">

                    <li class="flex items-center">
                        <strong class="w-36 text-gray-700">Nom :</strong>
                        <span class="text-gray-900">{{ user.firstName }}</span>
                    </li>
                    <li class="flex items-center">
                        <strong class="w-36 text-gray-700">Prénom :</strong>
                        <span class="text-gray-900">{{ user.lastName }}</span>
                    </li>
                    <li class="flex items-center">
                        <strong class="w-36 text-gray-700">Addresse E-mail :</strong>
                        <span class="text-gray-900">{{ user.email }}</span>
                    </li>
                    <li class="flex items-center">
                        <strong class="w-36 text-gray-700">Téléphone :</strong>
                        <span class="text-gray-900">{{ user.phone }}</span>
                    </li>
                    <li class="flex items-center">
                        <strong class="w-36 text-gray-700">Actif :</strong>
                        <span class="text-gray-900">{{ user.isActif ? 'Oui' : 'Non' }}</span>
                    </li>
                    <li class="flex items-center">
                        <strong class="w-36 text-gray-700">Campus :</strong>
                        <span class="text-gray-900">{{ user.campus.name }}</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}
