{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <div>
        <h1>Créer une sortie</h1>
        {{ form_start(eventForm) }}

        <div class="group">
            <label for="name">Nom de la sortie</label>
            <input type="text"
                   id="name"
                   name="{{ field_name(eventForm.name) }}"
                   value="{{ field_value(eventForm.name) }}"
                   placeholder=""
                   class="form-control"
            >
            {% for error in field_errors(eventForm.name) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="eventStart">Date et heure de la sortie</label>
            <input type="datetime-local"
                   id="eventStart"
                   name="{{ field_name(eventForm.eventStart) }}"
                   value="{{ field_value(eventForm.eventStart) }}"
                   placeholder=""
                   class="form-control"
            >
            {% for error in field_errors(eventForm.eventStart) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="participationDeadline">Date limite d'inscription</label>
            <input type="date"
                   id="participationDeadline"
                   name="{{ field_name(eventForm.participationDeadline) }}"
                   value="{{ field_value(eventForm.participationDeadline) }}"
                   placeholder=""
                   class="form-control"
            >
            {% for error in field_errors(eventForm.participationDeadline) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="participantLimit">Nombre de places</label>
            <input type="number"
                   id="participantLimit"
                   name="{{ field_name(eventForm.participantLimit) }}"
                   value="{{ field_value(eventForm.participantLimit) }}"
                   placeholder=""
                   class="form-control"
            >
            {% for error in field_errors(eventForm.participantLimit) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="duration">Durée de la sortie</label>
            <input type="number"
                   id="duration"
                   name="{{ field_name(eventForm.duration) }}"
                   value="{{ field_value(eventForm.duration) }}"
                   placeholder=""
                   class="form-control"
            >
            {% for error in field_errors(eventForm.duration) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="description">Description</label>
            <textarea
                   id="description"
                   name="{{ field_name(eventForm.description) }}"
                   placeholder=""
                   class="form-control"
            >{{ field_value(eventForm.description) }}</textarea>
            {% for error in field_errors(eventForm.description) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="campus">Campus</label>
            <select id="campus" name="{{ field_name(eventForm.campus) }}" >
                {% for name, id in field_choices(eventForm.campus) %}
                    <option value="{{ id }}" {% if id == eventForm.vars.value.organizer.campus.id %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            {% for error in field_errors(eventForm.campus) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="city">Ville</label>
            <select id="city" name="{{ field_name(eventForm.city) }}" onchange="clicCitySelect(this)" >
                {% for name, id in field_choices(eventForm.city) %}
                    <option value="{{ id }}" {% if id == eventForm.vars.value.organizer.campus.city.id %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            {% for error in field_errors(eventForm.city) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="place">Lieu</label>
            <select id="place" name="{{ field_name(eventForm.place) }}" onchange="clicPlaceSelect(this)" >
                {% for name, id in field_choices(eventForm.place) %}
                    <option value="{{ id }}">{{ name }}</option>
                {% endfor %}
            </select>
            {% for error in field_errors(eventForm.place) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="address">Rue</label>
            <input type="text"
                   id="address"
                   name="{{ field_name(eventForm.address) }}"
                   value="{{ field_value(eventForm.address) }}"
                   placeholder=""
                   class="form-control"
                   disabled
            >
            {% for error in field_errors(eventForm.address) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="zipcode">Code postal</label>
            <input type="text"
                   id="zipcode"
                   name="{{ field_name(eventForm.zipcode) }}"
                   value="{{ field_value(eventForm.zipcode) }}"
                   placeholder=""
                   class="form-control"
                   disabled
            >
            {% for error in field_errors(eventForm.zipcode) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="latitude">Latitude</label>
            <input type="text"
                   id="latitude"
                   name="{{ field_name(eventForm.latitude) }}"
                   value="{{ field_value(eventForm.latitude) }}"
                   placeholder=""
                   class="form-control"
                   disabled
            >
            {% for error in field_errors(eventForm.latitude) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            <label for="longitude">Longitude</label>
            <input type="text"
                   id="longitude"
                   name="{{ field_name(eventForm.longitude) }}"
                   value="{{ field_value(eventForm.longitude) }}"
                   placeholder=""
                   class="form-control"
                   disabled
            >
            {% for error in field_errors(eventForm.longitude) %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="group">
            {{ form_label(eventForm.save) }}
            {{ form_widget(eventForm.save) }}
        </div>

        <div class="group">
            {{ form_label(eventForm.publish) }}
            {{ form_widget(eventForm.publish) }}
        </div>

        {{ form_end(eventForm) }}

        <div>
            <button><a href="{{ path('app_event_list') }}">Annuler</a></button>
        </div>
    </div>





{% endblock %}

{% block ajax %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            selectInit();
        });

        function selectInit() {
            let placeSelect = document.querySelector("#place");
            placeSelect.innerHTML = "";
            let el = document.createElement("option");
            el.textContent = "---";
            el.value = "";
            placeSelect.appendChild(el);
        }

        async function clicPlaceSelect(element) {
            let placeID = element.value;
            let response = await fetch( '{{ path('get_place_info') }}' + '/' + placeID);
            let result = await response.json();
            let addressInput = document.getElementById('address');
            let latitudeInput = document.getElementById('latitude');
            let longitudeInput = document.getElementById('longitude');
            if(placeID) {
                let response = await fetch( '{{ path('get_place_info') }}' + '/' + placeID);
                let result = await response.json();
                addressInput.value = result.address;
                latitudeInput.value = result.latitude;
                longitudeInput.value = result.longitude;
            } else {
                addressInput.value = "";
                latitudeInput.value = "";
                longitudeInput.value = "";
            }
        }
    </script>

    <script>
        async function clicCitySelect(element) {
            // récupération des lieux liés à la ville
            let cityID = element.value;
            let response = await fetch('{{ path('get_city_places') }}' + "/" + cityID);
            let result = await response.json();
            let placeTable = JSON.parse(result);
            let placeSelect = document.querySelector("#place");
            placeSelect.innerHTML = "";

            let el = document.createElement("option");
            el.textContent = "---";
            el.value = "";
            placeSelect.appendChild(el);
            for(let i = 0; i < placeTable.length; i++) {
                let opt = placeTable[i];
                let el = document.createElement("option");
                el.textContent = opt.name;
                el.value = opt.id;
                placeSelect.appendChild(el);
            }

            // récupération des détails de la ville (code postal)
            let infoResponse = await fetch( '{{ path('get_city_info') }}' + '/' + cityID);
            let infoResult = await infoResponse.json();
            let zipcodeInput = document.getElementById('zipcode');
            zipcodeInput.value = infoResult.zipcode;

            // effacement des infos du lieu sélectionné
            let addressInput = document.getElementById('address');
            let latitudeInput = document.getElementById('latitude');
            let longitudeInput = document.getElementById('longitude');
            addressInput.value = "";
            latitudeInput.value = "";
            longitudeInput.value = "";
        }
    </script>
{% endblock %}