{% extends 'base.html.twig' %}

{% block title %}Consult all the Events!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Event List</h1>
        <div class="greeter">
            <label>Date du jour : {{ "now"|date("Y-m-d") }}</label>
            <label>Hello {{ app.user.pseudo }}</label>
        </div>
        <div>{{ form_start(listForm) }}
            <label class="form-label" for="{{ field_label(listForm.campus) }}">Filtrer les sorties</label>
            <select id = "{{ field_label(listForm.campus) }}" class="form-control" onchange="clicCampusSelect(this)"
                    name="{{ field_name(listForm.campus) }}">
                {% for name, id in field_choices(listForm.campus) %}
                    <option value="{{ id }}">{{ name }}</option>
                {%  endfor %}
            </select>

            <label class="form-label" for="{{ field_label(listForm.isAttending) }}">Organizer</label>
            <input type="checkbox" class="form-control" id="{{ field_label(listForm.isAttending) }}" name="{{ field_name(listForm.isAttending) }}" onclick="clicAttending(this)">

        </div>{{ form_end(listForm) }}

        <div class="js-user-rating"
             data-is-authenticated="{{ app.user ? 'true' : 'false' }}"
             data-user="{{ serializedUser }}"></div>

        <table class="table-auto border-collapse border border-gray-300 w-full text-center">
            <thead>
                <tr class="bg-gray-100">
                    <th>Event</th>
                    <th>Start</th>
                    <th>Deadline</th>
                    <th>Participants</th>
                    <th>Attend</th>
                    <th>Details</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody id="event_liste">
            {% for event in events %}
                <tr>
                    <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">{{ event.name }}</td>
                    <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">{{ event.eventStart|date("Y/m/d", false) }}</td>
                    <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">{{ event.participationDeadline|date("Y/m/d", false) }}</td>
                    <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">{{ event.participants.count }}/{{ event.participantLimit }}</td>
                    <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">
                        {% if (event.participants.count < event.participantLimit)  %}
                        <a href="{{ url('app_event_details', {'id': event.id}) }}" class="underline">Attend</a>
                        {% else %}
                         <p>Full</p>
                        {% endif %}
                    </td>
                    <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">
                            <a href="{{ url('app_event_details', {'id': event.id}) }}" class="underline">Display</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">
                        {% if ('ROLE_ADMIN' in app.user.roles) or (event.organizer.id is same as(app.user.id))  %}
                            <a href="{{ url('app_event_edit', {'id': event.id}) }}" class="underline text-blue-600">Edit</a>
                        {% else %}
                            <p>Denied</p>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No events found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

    {% block ajax %}
        <script>
            let currentUser = null;
            let isAuthenticated = null;
            document.addEventListener('DOMContentLoaded', function() {
                const userRating = document.querySelector('.js-user-rating');
                console.log(userRating);
                isAuthenticated = userRating.getAttribute('data-is-authenticated');
                console.log('iA'+isAuthenticated);

                currentUser = JSON.parse(userRating.getAttribute('data-user'));
                console.log(currentUser);

            })

            function formatDate(dateString) {
                const date = new Date(dateString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
                const day = String(date.getDate()).padStart(2, '0');
                return `${year}/${month}/${day}`;
            }

            function fillTable(result){
                let listContainer = document.getElementById("event_liste");
                listContainer.innerHTML = "";
                if (result.length > 0) {
                    console.log("RESULT IS HERE" + result.length);
                    console.log(currentUser.role);
                    console.log("Role");
                    result.forEach(event => {
                        const row = document.createElement('tr');
                        console.log(event);
                        if (currentUser.roles.includes('ROLE_USER') && event.participants.length < event.participantLimit) {
                            attend = `<a href="/public/event/${event.id}" class="underline text-blue-600">Attend</a>`;
                        } else {
                            attend = 'Full';
                        }

                        if (currentUser.roles.includes('ROLE_USER')) {
                            details = `<a href="/public/event/${event.id}" class="underline text-blue-600">Display</a>`;
                        } else {
                            details = 'Display';
                        }

                        if (currentUser.roles.includes('ROLE_ADMIN') || (event.organizer.id === currentUser.id)) {
                            edit = `<a href="/public/event/edit/${event.id}" class="underline text-blue-600">Edit</a>`;
                        } else {
                            edit = 'Denied';
                        }

                        row.innerHTML = `
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${event.name}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${formatDate(event.eventStart)}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${formatDate(event.participationDeadline)}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${event.participants.length}/${event.participantLimit}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${attend}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${details}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${edit}</td>
                    `;
                        listContainer.appendChild(row);
                    });
                } else {
                    const row = document.createElement('tr');
                    row.innerHTML = '<td colspan="6">No products found</td>';
                    listContainer.appendChild(row);
                }
            }

            async function clicCampusSelect(element) {
                let campusId = element.value;
                let response = await fetch( '{{ path('get_list_from_campus')}}' + '/' + campusId);
                let result = await response.json();
                fillTable(result);
            }

            async function clicAttending(element) {
                console.log(element.checked);
                let response = await fetch( '{{ path('get_attending_from_user')}}' + '/' + currentUser.id);
                let result = await response.json();
                fillTable(result);
            }
        </script>
{% endblock %}

