{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Tous ensemble avec Lenny!</h1>
        <div>
            <label>Date du jour : {{ "now"|date("Y-m-d") }}</label>
            {# # { { <label>Participant.e : {{ app.user.pseudo }}</label>} } #}
        </div>
        <div>{{ form_start(listForm) }}
            <label class="form-label" for="{{ field_label(listForm.campus) }}">Filtrer les sorties</label>
            <select id = "{{ field_label(listForm.campus) }}" class="form-control" onchange="clicCampusSelect(this)"
                    name="{{ field_name(listForm.campus) }}">
                {% for name, id in field_choices(listForm.campus) %}
                    <option value="{{ id }}">{{ name }}</option>
                {%  endfor %}
            </select>

        </div>{{ form_end(listForm) }}

        <div class="js-user-rating"
             data-is-authenticated="{{ app.user ? 'true' : 'false' }}"
             data-user="{{ serializedUser }}"></div>

        <table style="border-spacing: 25px">
            <thead>
            <tr>
                <th>Event</th>
                <th>Place</th>
                <th>Campus</th>
                <th>City</th>
                <th>Start</th>
                <th>Deadline</th>
                <th>S'inscrire</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody id="event_liste">
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.place.name }}</td>
                    <td>{{ event.campus.name }}</td>
                    <td>{{ event.place.city.name }}</td>
                    <td>{{ event.eventStart|date("Y/m/d", false) }}</td>
                    <td>{{ event.participationDeadline|date("Y/m/d", false) }}</td>
                    <td>
                        <a href="{{ url('app_event_details', {'id': event.id}) }}">Détails</a>
                    </td>
                    <td>
                        {% if (app.user.roles[0] is same as('ROLE_ADMIN')) or (event.organizer.id is same as(app.user.id))  %}
                            <a href="{{ url('app_event_edit', {'id': event.id}) }}">Modifier</a>
                        {% endif %}
                    </td>
                    <td>{{ event.participants.count }}/{{ event.participantLimit }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No events found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}

    {% block ajax %}
        <script>
            let currentUser = null;
            let isAuthenticated = null;
            document.addEventListener('DOMContentLoaded', function() {
                const userRating = document.querySelector('.js-user-rating');
                console.log(userRating);
                isAuthenticated = userRating.getAttribute('data-is-authenticated');
                console.log('iA'+isAuthenticated);

                currentUser = JSON.parse(userRating.getAttribute('data-user'));
                console.log('cU'+currentUser);

            })

            function formatDate(dateString) {
                const date = new Date(dateString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
                const day = String(date.getDate()).padStart(2, '0');
                return `${year}/${month}/${day}`;
            }

            async function clicCampusSelect(element) {
                let campusId = element.value;
                let response = await fetch( '{{ path('get_list_from_campus')}}' + '/' + campusId);
                let result = await response.json();

                let listContainer = document.getElementById("event_liste");
                listContainer.innerHTML = "";

                if (result.length > 0) {
                    console.log("RESULT IS HERE" + result.length);
                    console.log(currentUser.role);
                    console.log("Role");
                    result.forEach(event => {
                        const row = document.createElement('tr');
                        console.log(event);
                        if (event.organizer && event.organizer.id === currentUser.id) {
                            lastTd1Content = `<a href="/edit/${event.id}">Attend</a>`;
                        } else {
                            lastTd1Content = 'Not allowed';
                        }

                        if (currentUser.role === 'ROLE_USER') {
                            lastTd2Content = `<a href="/edit/${event.id}">Edit</a>`;
                        } else {
                            lastTd2Content = 'Not allowed';
                        }

                        row.innerHTML = `
                        <td>${event.name}</td>
                        <td>${event.place.name}</td>
                        <td>${event.campus.name}</td>
                        <td>${event.place.city.name}</td>
                        <td>${formatDate(event.eventStart)}</td>
                        <td>${formatDate(event.participationDeadline)}</td>
                        <td>${lastTd1Content}</td>
                        <td>${lastTd2Content}</td>
                        <td>${event.participantLimit}/${event.participantLimit}</td>
                    `;
                        listContainer.appendChild(row);
                    });
                } else {
                    // If no data is found, show a message in the table
                    const row = document.createElement('tr');
                    row.innerHTML = '<td colspan="6">No products found</td>';
                    listContainer.appendChild(row);
                }
            }
        </script>
{% endblock %}

