{% extends 'base.html.twig' %}

{% block title %}Consult all the Events!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 0.5em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div class="flex flex-col items-center justify-center">
            <label class="font-medium text-3xl text-blue-950 mb-4">
                Bonjour <span class="text-orange-400">{{ app.user.pseudo }}</span>
            </label>
        </div>



        <div class="greeter text-center mb-4 p-4 g">
            <p class="text-lg font-semibold text-gray-800 mb-2">
                📅 Date du jour :
            </p>
            <p class="text-2xl font-bold text-blue-950">
                {{ "now"|date("d/m/Y") }}
            </p>
        </div>

        <div>
            {{ form_start(listForm) }}

            <div class="flex flex-col space-y-4">
                <!-- Filtre de sélection -->
                <div>
                    <label class="block text-lg font-semibold text-gray-800" for="{{ field_label(listForm.campus) }}">Filtrer les sorties</label>
                    <select id="{{ field_label(listForm.campus) }}" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
                            name="{{ field_name(listForm.campus) }}" onchange="clicCampusSelect(this)">
                        {% for name, id in field_choices(listForm.campus) %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Cases à cocher -->
                <div class="space-y-2">
                    <label class="inline-flex items-center text-lg font-semibold text-gray-800">
                        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-500 border-gray-300 rounded" id="{{ field_label(listForm.isOrganizer) }}" name="{{ field_name(listForm.isOrganizer) }}" onclick="clicOrganizer(this)">
                        <span class="ml-2">Organisateur.ice</span>
                    </label>
                    <label class="inline-flex items-center text-lg font-semibold text-gray-800">
                        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-500 border-gray-300 rounded" id="{{ field_label(listForm.isAttending) }}" name="{{ field_name(listForm.isAttending) }}" onclick="clicAttending(this)">
                        <span class="ml-2">Mes participations</span>
                    </label>
                    <label class="inline-flex items-center text-lg font-semibold text-gray-800">
                        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-500 border-gray-300 rounded" id="{{ field_label(listForm.isNotAttending) }}" name="{{ field_name(listForm.isNotAttending) }}" onclick="clicNotAttending(this)">
                        <span class="ml-2">Mes opportunités</span>
                    </label>
                    <label class="inline-flex items-center text-lg font-semibold text-gray-800">
                        <input type="checkbox" class="form-checkbox h-5 w-5 text-green-500 border-gray-300 rounded" id="{{ field_label(listForm.hasPassed) }}" name="{{ field_name(listForm.hasPassed) }}" onclick="clicPassed(this)">
                        <span class="ml-2">Sorties passées</span>
                    </label>



                    <!-- Mot-clé -->
                    <div>
                        <label class="block text-lg font-semibold text-gray-800 mb-2" for="{{ field_label(listForm.keyword) }}">Mot-clé</label>
                        {{ form_widget(listForm.keyword, {'attr': {'class': 'block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
                        {{ form_errors(listForm.keyword) }}
                    </div>

<<<<<<< HEAD
                        <!-- Date de début -->
                    <div class="flex space-x-4 w-full">
                        <!-- Date de début -->
                        <div class="flex-1 w-1/2">
                            <label class="block text-lg font-semibold text-gray-800 mb-2" for="{{ field_label(listForm.dateFrom) }}">Du</label>
                            {{ form_widget(listForm.dateFrom, {'attr': {'class': 'block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
                            {{ form_errors(listForm.dateFrom) }}
                        </div>

                        <!-- Date de fin -->
                        <div class="flex-1 w-1/2">
                            <label class="block text-lg font-semibold text-gray-800 mb-2" for="{{ field_label(listForm.dateTo) }}">Au</label>
                            {{ form_widget(listForm.dateTo, {'attr': {'class': 'block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
                            {{ form_errors(listForm.dateTo) }}
                        </div>
                    </div>

=======
                    <!-- Date de début -->
                    <div>
                        <label class="block text-lg font-semibold text-gray-800 mb-2" for="{{ field_label(listForm.dateFrom) }}">Du</label>
                        {{ form_widget(listForm.dateFrom, {'attr': {'class': 'block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
                        {{ form_errors(listForm.dateFrom) }}
                    </div>

                    <!-- Date de fin -->
                    <div>
                        <label class="block text-lg font-semibold text-gray-800 mb-2" for="{{ field_label(listForm.dateTo) }}">Au</label>
                        {{ form_widget(listForm.dateTo, {'attr': {'class': 'block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
                        {{ form_errors(listForm.dateTo) }}
                    </div>
>>>>>>> origin/develop
                </div>
                <!-- Bouton de recherche -->
                <div class="flex justify-center mt-6">
                    {{ form_widget(listForm.search, {'attr': {'class': 'bg-blue-500 text-white px-6 py-3 rounded-lg font-semibold shadow-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out'}}) }}
                </div>
            </div>
        </div>

        {{ form_end(listForm) }}
    </div>


    <div class="js-user-rating"
         data-is-authenticated="{{ app.user ? 'true' : 'false' }}"
         data-user="{{ serializedUser }}">

    </div>

<<<<<<< HEAD
        <table class=" bg-white shadow-md rounded-lg overflow-hidden mx-auto">
            <thead class="bg-light-blue text-white">
            <tr>
                <th class="py-3 px-4 text-left">Organisateur</th>
                <th class="py-3 px-4 text-left">Sortie</th>
                <th class="py-3 px-4 text-left">Début</th>
                <th class="py-6 px-4 text-left">Date Limite</th>
                <th class="py-3 px-4 text-left">Participants</th>
                <th class="py-3 px-4 text-left">S'inscrire</th>
                <th class="py-3 px-4 text-left">Consulter</th>
                <th class="py-3 px-4 text-left">Modifier</th>
            </tr>
            </thead>
            <tbody id="event_liste" class="text-gray-700">
            {% for event in events %}
                <tr class="hover:bg-gray-100 transition duration-200">
                    <td class="border-t border-gray-200 px-4 py-2">{{ event.organizer.pseudo }}</td>
                    <td class="border-t border-gray-200 px-4 py-2">{{ event.name }}</td>
                    <td class="border-t border-gray-200 px-4 py-2">{{ event.eventStart|date("d/m/Y", false) }}</td>
                    <td class="border-t border-gray-200 px-4 py-2">{{ event.participationDeadline|date("d/m/Y", false) }}</td>
                    <td class="border-t border-gray-200 px-4 py-2">{{ event.participants.count }}/{{ event.participantLimit }}</td>
                    <td class="border-t border-gray-200 px-4 py-2">
                        {% if (event.participants.count < event.participantLimit)
                            and ("now"|date("Y-m-d") > event.participationDeadline)
                            and event.status.name == "Ouverte"
                            and event.organizer.id != app.user.id %}
                            <a href="{{ url('app_event_participate', {'id': event.id}) }}">
                                <button class="mx-auto bg-sky-950 text-sky-400 border border-sky-400 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                                    <span class="bg-light-blue shadow-sky-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                                    <img src="{{ asset('image/participation.png') }}" alt="Participer" class="w-5 h-5"/>
                                    <span>Participer</span>
                                </button>
                            </a>
                        {% else %}
                            <img src="{{ asset('image/ban-user.png') }}" alt="Denied" class="w-6 h-6 mx-auto"/>
                        {% endif %}
                    </td>
                    <td class="border-t border-gray-200 px-4 py-2">
                        <a href="{{ url('app_event_details', {'id': event.id}) }}">
                            <button class="mx-auto bg-orange-600 text-orange-900 border border-orange-400 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                                <span class="bg-orange-300 shadow-orange-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                                <img src="{{ asset('image/chercher.png') }}" alt="Display" class="w-5 h-5"/>
                                <span>Afficher</span>
=======
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden ">
        <thead class="bg-light-blue text-white">
        <tr>
            <th class="py-3 px-4 text-left">Organisateur</th>
            <th class="py-3 px-4 text-left">Sortie</th>
            <th class="py-3 px-4 text-left">Début</th>
            <th class="py-6 px-4 text-left">Date Limite</th>
            <th class="py-3 px-4 text-left">Participants</th>
            <th class="py-3 px-4 text-left">S'inscrire</th>
            <th class="py-3 px-4 text-left">Consulter</th>
            <th class="py-3 px-4 text-left">Modifier</th>
        </tr>
        </thead>
        <tbody id="event_liste" class="text-gray-700">
        {% for event in events %}
            <tr class="hover:bg-gray-100 transition duration-200">
                <td class="border-t border-gray-200 px-4 py-2"><a href="{{ path('app_profile_id', { 'id': event.organizer.id }) }}" class=" hover:underline">
                        {{ event.organizer.pseudo }}
                    </a></td>
                <td class="border-t border-gray-200 px-4 py-2">{{ event.name }}</td>
                <td class="border-t border-gray-200 px-4 py-2">{{ event.eventStart|date("d/m/Y", false) }}</td>
                <td class="border-t border-gray-200 px-4 py-2">{{ event.participationDeadline|date("d/m/Y", false) }}</td>
                <td class="border-t border-gray-200 px-4 py-2">{{ event.participants.count }}/{{ event.participantLimit }}</td>
                <td class="border-t border-gray-200 px-4 py-2">
                    {% if (event.participants.count < event.participantLimit)
                        and ("now"|date("Y-m-d") > event.participationDeadline)
                        and event.status.name == "Ouverte"
                        and event.organizer.id != app.user.id %}
                        <a href="{{ url('app_event_participate', {'id': event.id}) }}">
                            <button class="mx-auto bg-sky-950 text-sky-400 border border-sky-400 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                                <span class="bg-light-blue shadow-sky-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                                <img src="{{ asset('image/participation.png') }}" alt="Participer" class="w-5 h-5"/>
                                <span>Participer</span>
>>>>>>> origin/develop
                            </button>
                        </a>
                    {% else %}
                        <img src="{{ asset('image/ban-user.png') }}" alt="Denied" class="w-6 h-6 mx-auto"/>
                    {% endif %}
                </td>
                <td class="border-t border-gray-200 px-4 py-2">
                    <a href="{{ url('app_event_details', {'id': event.id}) }}">
                        <button class="mx-auto bg-orange-600 text-orange-900 border border-orange-400 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                            <span class="bg-orange-300 shadow-orange-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                            <img src="{{ asset('image/chercher.png') }}" alt="Display" class="w-5 h-5"/>
                            <span>Afficher</span>
                        </button>
                    </a>
                </td>
                <td class="border-t border-gray-200 px-4 py-2">
                    {% if ('ROLE_ADMIN' in app.user.roles) or (event.organizer.id is same as(app.user.id)) %}
                        <a href="{{ url('app_event_edit', {'id': event.id}) }}">
                            <button class="mx-auto bg-green-600 text-green-200 border border-green-200 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                                <span class="bg-green-300 shadow-green-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                                <img src="{{ asset('image/edit.png') }}" alt="Edit" class="w-5 h-5"/>
                                <span>Modifier</span>
                            </button>
                        </a>
                    {% else %}
                        <img src="{{ asset('image/ban-user.png') }}" alt="Denied" class="w-6 h-6 mx-auto"/>

                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center py-4">Aucun événement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

    {% block ajax %}
        <script>
            let currentUser = null;
            let isAuthenticated = null;
            let campusId;
            let jsonResponse;
            document.addEventListener('DOMContentLoaded', function() {
                const userRating = document.querySelector('.js-user-rating');
                const e = document.getElementById('Campus');
                if(document.getElementById("event_liste").innerHTML === `<tr>
                    <td colspan='7' class='text-center py-4'>Aucun événement trouvé</td>
            </tr>`
                ){
                    clicCampusSelect(e);
                }
                isAuthenticated = userRating.getAttribute('data-is-authenticated');
                currentUser = JSON.parse(userRating.getAttribute('data-user'));
            })

            function formatDate(dateString) {
                const date = new Date(dateString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
                const day = String(date.getDate()).padStart(2, '0');
                return `${day}/${month}/${year}`;
            }

            function fillTable(result){
                let now = new Date();
                let listContainer = document.getElementById("event_liste");
                listContainer.innerHTML = "";
                if (result.length > 0) {
                    result.forEach(event => {
                        const row = document.createElement('tr');
                        let attend;
                        if (currentUser.roles.includes('ROLE_USER')
                            && event.participants.length < event.participantLimit
                            && new Date(event.participationDeadline) > now
                            && currentUser.id !== event.organizer.id) {
                            attend = `<a href="{{ url('app_event_participate', {'id': 'REPLACE_ID'}) }}">   <button class="mx-auto bg-sky-950 text-sky-400 border border-sky-400 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                                    <span class="bg-light-blue shadow-sky-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                                    <img src="{{ asset('image/participation.png') }}" alt="Participer" class="w-5 h-5"/>
                                    <span>Participer</span>
                                </button></a>`.replace('REPLACE_ID', event.id);
                        } else {
                            attend = `<img src="{{ asset('image/ban-user.png') }}" alt="Denied" class="w-6 h-6 mx-auto"/>`;
                        }

                        let details;
                        if (currentUser.roles.includes('ROLE_USER')) {
                            details = `<a href="{{ url('app_event_details', {'id': 'REPLACE_ID'}) }}" >
                              <button class="mx-auto bg-orange-600 text-orange-900 border border-orange-400 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                                  <span class="bg-orange-300 shadow-orange-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                                  <img src="{{ asset('image/chercher.png') }}" alt="Display" class="w-5 h-5"/>
                                  <span>Afficher</span>
                              </button>
                           </a>`.replace('REPLACE_ID', event.id);
                        } else {
                            details = 'Display';
                        }

                        let edit;
                        if (currentUser.roles.includes('ROLE_ADMIN') || (event.organizer.id === currentUser.id)) {
                            edit = `<a href="{{ url('app_event_edit', {'id': 'REPLACE_ID'}) }}">
                            <button class="mx-auto bg-green-600 text-green-200 border border-green-200 border-b-4 font-medium overflow-hidden relative px-6 py-2 rounded-md hover:brightness-150 hover:border-t-4 hover:border-b active:opacity-75 outline-none duration-300 group flex items-center space-x-1 justify-center">
                                <span class="bg-green-300 shadow-green-400 absolute -top-[150%] left-0 inline-flex w-80 h-[5px] rounded-md opacity-50 group-hover:top-[150%] duration-500 shadow-[0_0_10px_10px_rgba(0,0,0,0.3)]"></span>
                                <img src="{{ asset('image/edit.png') }}" alt="Edit" class="w-5 h-5"/>
                                <span>Modifier</span>
                            </button>
                        </a>`.replace('REPLACE_ID', event.id);
                        } else {
                            edit = '<img src="{{ asset('image/ban-user.png') }}" alt="Denied" class="w-6 h-6 mx-auto"/>';
                        }

                        row.innerHTML = `
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap"><a href="{{ path('app_profile_id', { 'id': 'ORGANIZER_ID' }) }}" class=" hover:underline">${event.organizer.pseudo}</a></td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${event.name}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${formatDate(event.eventStart)}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${formatDate(event.participationDeadline)}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${event.participants.length}/${event.participantLimit}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${attend}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${details}</td>
                        <td class="border border-gray-300 px-4 py-2 whitespace-nowrap">${edit}</td>
                    `.replace('ORGANIZER_ID', event.organizer.id);
                        listContainer.appendChild(row);
                    });
                } else {
                    const row = document.createElement('tr');
                    row.innerHTML = '<td colspan="6">Aucune sortie trouvée</td>';
                    listContainer.appendChild(row);
                }
            }

            async function clicCampusSelect(element) {
                campusId = element.value;
                let response = await fetch( '{{ path('get_list_from_campus')}}' + '/' + campusId);
                let result = await response.json();
                fillTable(result);
            }

            async function clicAttending(element) {
                if(element.checked){
                    let response = await fetch( '{{ path('get_attending_from_user')}}' + '/' + currentUser.id);
                    jsonResponse = await response.json();
                }else{
                    let response = await fetch('{{ path('get_list_from_campus')}}' + '/' + campusId);
                    jsonResponse = await response.json();
                }
                fillTable(jsonResponse);
            }

            async function clicNotAttending(element) {
                if(element.checked){
                    let response = await fetch( '{{ path('get_not_attending_from_user')}}' + '/' + currentUser.id);
                    jsonResponse = await response.json();
                }else{
                    let response = await fetch('{{ path('get_list_from_campus')}}' + '/' + campusId);
                    jsonResponse = await response.json();
                }
                fillTable(jsonResponse);
            }

            async function clicOrganizer(element) {
                if(element.checked){
                    let response = await fetch( '{{ path('get_organized_from_user')}}' + '/' + currentUser.id);
                    jsonResponse = await response.json();
                }else{
                    let response = await fetch('{{ path('get_list_from_campus')}}' + '/' + campusId);
                    jsonResponse = await response.json();
                }
                fillTable(jsonResponse);
            }

            async function clicPassed(element) {
                if(element.checked){
                    let response = await fetch( '{{ path('get_past_events')}}');
                    jsonResponse = await response.json();
                }else{
                    let response = await fetch('{{ path('get_list_from_campus')}}' + '/' + campusId);
                    jsonResponse = await response.json();
                }
                fillTable(jsonResponse);
            }
        </script>
    {% endblock %}