<nav class="navbar backdrop-blur-lg bg-transparent bg-opacity-50 shadow-xl py-9 px-8 sticky top-0 w-full z-50 flex items-center">
    <div class="flex justify-between items-center w-full">
        <!-- Logo -->
        <div class="flex items-center absolute">
            <a href="{{ path('app_event_list') }}" class="text-white font-bold text-lg">
                <img src="{{ asset('image/LOGO1.png') }}" alt="Logo" class="h-48 w-auto"> <!-- Augmentation de la taille du logo -->
            </a>
        </div>

        <!-- Menu -->
        <div class="navbar-menu flex items-center space-x-8 mx-auto">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('app_event_list') }}" class="navbar-item text-custom-blue hover:text-orange-400 transition duration-200">Accueil</a>
                <a href="{{ path('app_event_create') }}" class="navbar-item text-custom-blue hover:text-orange-400 transition duration-200">Ajouter une sortie</a>
                <a href="{{ path('app_profile') }}" class="navbar-item text-custom-blue hover:text-orange-400 transition duration-200">Mon Profil</a>

                <!-- Add User link for ADMIN role -->
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_register') }}" class="navbar-item text-custom-blue hover:text-orange-400 transition duration-200">Ajouter un utilisateur</a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="navbar-item text-custom-blue hover:text-orange-400 transition duration-200">Se déconnecter</a>

            {% endif %}
        </div>

        <!-- User Profile Picture -->
        <div class="flex items-center ml-8">
            {% if app.user and app.user.photo %}
                <a href="{{ path('app_profile') }}">
                    <img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" alt="Profile Picture"
                         class="h-12 w-12 rounded-full border-2 border-white hover:border-orange-400 transition duration-200"> <!-- Augmentation de la taille de la photo -->
                </a>
            {% else %}
                <!-- Default avatar if no profile picture exists -->
                <a href="{{ path('app_profile') }}">
                    <img src="{{ asset('image/default_avatar.png') }}" alt="Default Avatar"
                         class="h-12 w-12 rounded-full border-2 border-white hover:border-orange-400 transition duration-200"> <!-- Augmentation de la taille de l'avatar par défaut -->
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="pt-24">
    <!-- Content -->
</div>
