{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full bg-gradient-to-r from-blue-50 to-blue-100 rounded-xl shadow-2xl overflow-hidden p-12 space-y-8 mx-48 mb-48"
             style="animation: slideInFromLeft 1s ease-out;">
            <h1 class="text-center text-4xl font-extrabold" style="animation: appear 2s ease-out;">Créer un lieu</h1>
            {{ form_start(placeForm) }}

            <div class="flex">
                <div class="flex-column w-1/2 p-5">

                    <div class="relative mt-6">
                        <label for="name"
                               class="absolute left-0 -top-4 text-gray-500 text-m"
                        >Nom du lieu</label>
                        <input type="text"
                               id="name"
                               name="{{ field_name(placeForm.name) }}"
                               value="{{ field_value(placeForm.name) }}"
                               placeholder=""
                               class="peer h-12 w-full border-b-2 border-gray-300 bg-transparent placeholder-transparent
                               focus:outline-none focus:border-light-blue"
                        >
                        {% for error in field_errors(placeForm.name) %}
                            <div><p class="text-ms accent-red-700">{{ error }}</p></div>
                        {% endfor %}
                    </div>

                    <div class="relative mt-6">
                        <label for="address"
                               class="absolute left-0 -top-4 text-gray-500 text-m"
                        >Rue</label>
                        <input type="text"
                               id="address"
                               name="{{ field_name(placeForm.address) }}"
                               value="{{ field_value(placeForm.address) }}"
                               placeholder=""
                               class="peer h-12 w-full border-b-2 border-gray-300 bg-transparent placeholder-transparent
                               focus:outline-none focus:border-light-blue"
                        >
                        {% for error in field_errors(placeForm.address) %}
                            <div><p class="text-ms accent-red-700">{{ error }}</p></div>
                        {% endfor %}
                    </div>

                    <div class="relative mt-6">
                        <label for="latitude"
                               class="absolute left-0 -top-4 text-gray-500 text-m"
                        >Latitude</label>
                        <input type="text"
                               id="latitude"
                               name="{{ field_name(placeForm.latitude) }}"
                               value="{{ field_value(placeForm.latitude) }}"
                               placeholder=""
                               class="peer h-12 w-full border-b-2 border-gray-300 bg-transparent placeholder-transparent
                               focus:outline-none focus:border-light-blue"
                        >
                        {% for error in field_errors(placeForm.latitude) %}
                            <div><p class="text-ms accent-red-700">{{ error }}</p></div>
                        {% endfor %}
                    </div>

                    <div class="relative mt-6">
                        <label for="longitude"
                               class="absolute left-0 -top-4 text-gray-500 text-m"
                        >Longitude</label>
                        <input type="text"
                               id="latitude"
                               name="{{ field_name(placeForm.longitude) }}"
                               value="{{ field_value(placeForm.longitude) }}"
                               placeholder=""
                               class="peer h-12 w-full border-b-2 border-gray-300 bg-transparent placeholder-transparent
                               focus:outline-none focus:border-light-blue"
                        >
                        {% for error in field_errors(placeForm.longitude) %}
                            <div><p class="text-ms accent-red-700">{{ error }}</p></div>
                        {% endfor %}
                    </div>

                    <div class="relative mt-6">
                        <label for="city"
                               class="absolute left-0 -top-4 text-gray-500 text-m"
                        >Ville</label>
                        <select id="city" name="{{ field_name(placeForm.city) }}"
                                class="peer h-12 w-full border-b-2 border-gray-300 bg-transparent placeholder-transparent
                               focus:outline-none focus:border-light-blue">
                            {% for name, id in field_choices(placeForm.city) %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        {% for error in field_errors(placeForm.city) %}
                            <div class="text-ms accent-red-700">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="flex-row">

                <div class="relative">
                    {{ form_label(placeForm.save) }}
                    {{ form_widget(placeForm.save) }}
                </div>

                <div class="relative">
                    {% if from == "new" %}
                    <button><a href="{{ path('app_event_create') }}">Annuler</a></button>
                    {% else %}
                        <button><a href="{{ path('app_event_edit', {'id': from} ) }}">Annuler</a></button>
                    {% endif %}
                </div>
            </div>

            {{ form_end(placeForm) }}
        </div>
    </div>
{% endblock %}